.items-order{
    width: 250px;
}
.info-user {
    width: 275px;
}
.paymentMethod {
    width: 110px;
}
.totalPrice-order {
    width: 100px;
}
.date-order {
    width: 137px;
}
.frm-order {
    width: 155px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.frm-order-ship{
    width: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}


.btn-product1 {
    background-color: rgb(204, 7, 7);
}
.btn-product1:hover {
    background-color: rgb(173, 18, 18);
}
.btn-product2 {
    background-color: rgba(11, 141, 216, 0.692)
}
.btn-product2:hover {
    background-color: rgba(16, 112, 168, 0.692)
}
.search-bar {
    width:240px;
    display: flex;
    margin-left: auto;
}
