.nav-bg {
    background-color: #2cb92c;
    box-shadow: 0px 1px 4px #228B22;
    margin: 0;
    padding-left: 150px;
}

.nav-a {
    color: white;
    font-size: 17px;
    padding-left: 20px;
    font-weight: 550;
    outline: none;
}
.btn {
    outline: none; /* Loại bỏ viền focus */
    border: none; /* Đảm bảo không có viền mặc định */
    text-decoration: none; /* Nếu bạn không muốn có gạch chân */
}

.login-nav {
    margin-top: 12px;
    width: 230px;
    display: block;
   
}

.dropdown-text {
    color: black; /* Màu đen */
}


.username-nav {
    font-weight: 700;
    font-size: 18px;
}

.btn-login {
    margin-top: -16px;
    margin-left: 17px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(17, 25, 171);
}

.col-nav {
    width: 100px;
}

.nav-item {
    padding-left: 15px;
}

.nav-link:hover {
    color: #012201;
}

.logo {
    width: 170px;
    margin-left: 55px;
}

.nav-search {
    margin-left: 0px;
    position: relative; 
}
.nav-search img {
    width: 20px;
    margin-bottom: 2px;
}

.input-group {
    height: 30px;
}

.cart {
    width: 40px;
}

.navbar {
    height: 40px;
}

.nav-all {
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    background-color: white;
}

.a-cart {
    width: 160px;
    margin-top: 12px;
}

.btn-search {
    border: solid rgb(222, 219, 219) 1px;
    border-radius: 10px;
}

.btn-search:hover {
    background-color: rgb(167, 167, 167);
    outline-color: rgb(171, 121, 35);
}

.icon-menu {
    width: 11%;
    color: white;
    margin-bottom: 4px;
    margin-right: 2px;
}

.dropdown {
    width: 350px;
    padding-right: 50px;
    margin-top: 3px;
    position: relative; /* Đảm bảo dropdown được đặt tương đối */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    z-index: 1100; /* Đảm bảo nó nằm trên cùng */
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1100;
}

.dropdown-menu a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    border-radius: 15px;
}

.dropdown-item {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

.img-icon {
    width: 15%;
}

.search {
    position: absolute;
    z-index: 1100; /* Đảm bảo phần tìm kiếm nổi lên trên */
    margin-left: 65px;
    width: 615px;
}
